# Local development
VITE_API_URL=http://localhost:8000/api/
VITE_UNIVERSITY_NAME=DATA_REQUIRED
VITE_UNIVERSITY_SHORT_NAME=DATA_REQUIRED
VITE_UNIVERSITY_WEBSITE=DATA_REQUIRED

# Production example
# VITE_API_URL=https://a20-app-165-production-2dd4.up.railway.app/api/
